/* google font added */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

.merri {
  font-family: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

/* ======== Banner section style=========== */
header {
  width: 1320px;
  height: 600px;
  padding: 177px 344px;
  margin: 50px auto;
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./assets/images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content {
  width: 632px;
  text-align: center;
  margin: 0 auto;
}

/* ======== offer section style=========== */
.offer-section {
  text-align: center;
  width: 802.9px;
  margin: 120px auto;
}
.offer-title {
  margin-bottom: 48px;
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.offer-sub-title {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.offer-category {
  font-size: 48px;
  font-weight: 700;
  color: rgb(7, 2, 17);
}
.offer-section img {
  margin-top: 48px;
}

/* ======== offer section style=========== */
