/* google font added */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

.merri {
  font-family: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
/* ======== share style=========== */
.container {
  margin: 120px auto;
  box-sizing: border-box;
}

.primary-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 16px 32px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 0, 0);
}
.primary-btn:hover {
  background: rgb(204, 1, 1);
}
.center {
  margin: 0 auto;
}

/* ======== Banner section style=========== */
header {
  width: 1320px;
  height: 600px;
  padding: 177px 344px;
  margin: 50px auto;
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./assets/images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content {
  width: 632px;
  text-align: center;
  margin: 0 auto;
}

/* ======== offer section style=========== */
.offer-section {
  text-align: center;
  width: 802.9px;
  margin: 120px auto;
}
.offer-title {
  margin-bottom: 48px;
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.offer-sub-title {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.offer-category {
  font-size: 48px;
  font-weight: 700;
  color: rgb(7, 2, 17);
}
.offer-section img {
  margin-top: 48px;
}

/* ======== offer section style=========== */
.party-section {
  width: 1320px;
  padding: 80px;
  border: 1px solid red;
  display: flex;

  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./assets/images/Vectorrr.png");

  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.party-section-title {
  width: 642px;
  font-weight: 900;
  font-size: 64px;
  color: rgb(255, 255, 255);
}

.party-section-subtitle {
  margin-top: 24px;
  width: 697px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
}

.party-section-link {
  margin-top: 48px;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

/* ======== address section style=========== */
.address-section {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  width: 1320px;
  border-radius: 16px;

  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px;
}
span {
  color: red;
}
.address-btn {
  margin-top: 64px;
}

.palce-title {
  margin-top: 15px;
}

/* ======== comming-soon section style=========== */
.comming-soon-section {
  width: 1320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}
.comming-soon-middle img {
  padding: 20px;
  width: 463px;
  height: 463px;
  border: 10px solid red;
  border-radius: 50%;
  box-sizing: border-box;
}

.comming-soon-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
}
.comming-soon-title {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
}
.comming-soon-description {
  margin-top: 22px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}
.comming-soon-left {
  width: 33%;
}

.comming-soon-middle {
  width: 33%;
}

.comming-soon-right {
  width: 33%;
}
.comming-soon-right-title {
  font-size: 48px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.comming-soon-right img {
  margin-top: 46px;
}

/* ======== Holy day section style=========== */
.holy-day-sale {
  width: 750px;
  padding: 10px;
  text-align: center;
}
.holy-day-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgb(7, 2, 17);
}
.holy-day-title {
  margin: 16px auto 28px auto;
  font-weight: 900;
  font-size: 72px;
  color: rgb(255, 0, 0);
}
.holy-day-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(7, 2, 17, 0.6);
}
.holy-day-title span {
  color: rgb(7, 2, 17);
}

/* ======== portfoliosection style=========== */
.portfolio-section {
  width: 1320px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.portfolio-title {
  margin-bottom: 22px 0;
  font-weight: 900;
  font-size: 48px;
  color: rgb(7, 2, 17);
}

.portfolio-description {
  margin-bottom: 48px;
  line-height: 32px;
  width: 896px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

/* ======== subscribe section style=========== */
.subscribe-section {
  padding: 40px;
  text-align: center;
  width: 1320px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.subscribe-title {
  margin: 22px 0;
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
}
.subscribe-description {
  width: 896px;
  margin: 22px auto;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

.subscribe-section input {
  width: 648px;
  height: 72px;
  border: none;
  border-radius: 50px;
  padding: 20px;
  background: rgb(255, 255, 255);
}

.subscribe-section ::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(7, 2, 17, 0.3);
}

/* ======== footer section style=========== */
